{{ $category := .Get "category" }}
{{ $elementId := .Get "id" }}
{{ $linkUrl := .Get "linkurl" | default "https://repronim.wordpress.com/" }}
{{ $linkText := .Get "linktext" | default "posts" }}
{{ $useList := .Get "uselist" | default false }}
{{ $showExcerpt := .Get "showexcerpt" | default false }}
{{ $stripTitlePrefix := .Get "striptitleprefix" | default "" }}

<div id="{{ $elementId }}">
See <a href="{{ $linkUrl }}">our {{ $linkText }}</a>.
</div>

<script defer>
(function() {
    var posts_div = document.getElementById("{{ $elementId }}");

    var req = new XMLHttpRequest();
    req.onreadystatechange = function() {
        // wait for DONE
        if(req.readyState != 4) {
            return;
        }
        if(req.status == 200) {
            var posts = JSON.parse(req.responseText);
            posts_div.innerHTML = "";
            {{ if $useList }}
            var container = document.createElement("ul");
            posts_div.appendChild(container);
            {{ else }}
            var container = posts_div;
            {{ end }}
            var n_items = 0;
            for(var i = 0;i < posts.length;i++) {
                var a = document.createElement("a");
                a.href = posts[i].link;
                a.target = "_blank";
                {{ if $useList }}
                var item = document.createElement("li");
                {{ else }}
                var item = document.createElement("div");
                {{ end }}
                item.appendChild(a)
                {{ if $stripTitlePrefix }}
                a.innerHTML = posts[i].title.rendered.replace(/^{{ $stripTitlePrefix }}:?\s*/i, "");
                {{ else }}
                a.innerHTML = posts[i].title.rendered;
                {{ end }}
                {{ if $showExcerpt }}
                if(posts[i].excerpt.rendered.length < 500) {
                    const excerpt = posts[i].excerpt.rendered.replace(/^<p>(.*)<\/p>.*/i, "$1");
                    item.appendChild(document.createTextNode(" " + excerpt));
                }
                {{ end }}
                var date = new Date(posts[i].date);
                item.appendChild(document.createTextNode(" (" + date.toLocaleDateString() + ")"));
                container.appendChild(item);
                n_items++;
            }
        var p = document.createElement("p");
        p.innerHTML = '<a href="{{ $linkUrl }}" target="_blank">See all {{ $linkText }}</a>.';
        posts_div.appendChild(p);
        }
    }

    // limit list length with paginated request with category filter
    req.open("GET", "https://public-api.wordpress.com/wp/v2/sites/repronim.wordpress.com/posts?categories={{ $category }}&per_page=10", true);
    req.send();
})();
</script>